# Cache Python
__pycache__/
*.pyc

# Fichiers de configuration IDE
.vscode/
.idea/

# Logs
*.log

# Cache pytest
.pytest_cache/

# Documentation / conception interne
cahier_de_charge.md
diagramme_db.dbdiagram
diagramme.db.dbml